<h1>Pages#formaGroup</h1>
<p>Find me in app/views/pages/formaGroup.html.erb</p>
<!--

stubs listed here temporarily for creating a musical group

function for requesting a user to join your musical group
def requestUser()
end

function for creating listing for musical group, looking for specific people
def formGroup()
end

function for searching for specific type of musical group based on criteria, or randomly
def search()
end

function for removing music group listing
def removeListing()
end

function for removing listing if enough members have joined
def fullGroup()
end

function for student to request to join group
def requestToJoin()
end
-->
