<h1>Welcome to Musical Students Group!</h1>
<%= 'this is just a test homepage, formatting and functionality will be added later.' %>
<!-- functions to be included on the main page:
NOTE: I am just including this in this html.erb file for now, functions for each page are listed in their own page file, and will be implemented in their correct locations later
 
createaccount: used for creating accounts for users
def creataccount()

login: used for logging in already registered users
def login()

register: used for registering a town or school distict
def register()
-->
