<h1>Welcome to MusicalStudentsGroup!</h1>

<p>MusicalStudentsGroup is an application to systematically receive instrument donations, form student music groups,
or get lessons from other students or instructors. Please select a tab at the top of this page. Links are working and some
stubs are present</p>
<p>TO DO: functionality</p>