<h1>Donations</h1>
<p>Find me in app/views/pages/instruments.html.erb</p>

<table>
  <tr>
    <th>Name</th>
    <th>Instrument</th>
    <th>Condition</th>
    <th>Model</th>
    <th>Location</th>
    <th>Email</th>
    <th>To Do</th>
  </tr>

</table>



<!--

stubs for instruments page

function for listing instument for students to get or purchase
def listInstument()
end

function for searching for instrument
def search()
end

function for requesting an instrument
def requestInstrument()
end

function for removing a listing that you created
def removeInstrument()
end

function for contacting person about specific listing
def contactUser()
end
-->
