<h1>Pages#lessons</h1>
<p>Find me in app/views/pages/lessons.html.erb</p>
<!--

stubs for lessons page - temporarily listed here

function for listing your lessons for students to request
def listLessons()
end

function for requesting lessons from someone
def requestLessons()
end

function for searching for lessons based on criteria
def searchLessons()
end

function for contacting user about lessons
def contactUser()
end

function for removing lessons from page
def removeLessons()
end

function for marking down if lessons have been accepted
def acceptedLessons()
end

-->
